<h1>All about thie Big Nerd Company shit</h1>

<b><%= flash[:notice]%></b>

<p><%=@name%>,<br>We are one bitching ass company who makes some rad ass shit...<br>
	Copyright <%=@year%>
	</p>
<br>
<p>You are using <%= @browser %></p>

<br><br>


<%=debug @dumpme%>